@{
    ViewData["Title"] = "Home Page";
}

<form action="/Subreddit/Subreddit">
    <input type="text" name="Subreddit" placeholder="Subreddit Name" required />
    <input type="submit" value="Go!" />
</form>